@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Bold');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Regular');
    font-weight: 400;
    font-style: normal;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    zoom: 0.87;
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: #a1a1a1
  }

  h1, h2, h3, h4, h5, h6 {
    color: #e95525;
    font-weight: 700;
    text-transform: uppercase;
  }

  h1 {
    color: #ffffff;
    font-size: 18pt;
  }

  h4 {
    font-size: 10pt;
  }

  h5 {
    font-size: 9pt;
  }

  .header {
    width: 100%;
    margin: 0;
  }

  .header__headline {
    margin: 15mm 10mm 0 10mm;
    height: 15mm;
    background-color: #e95525;
  }

  .header__headline h1 {
    margin-left: 5mm;
    line-height: 7.5mm;
  }

  .header__headline img {
    height: 10mm;
    margin: 2.5mm 5mm;
    line-height: 7.5mm;
  }

  .header__reference-number {
    width: 60mm;
    margin: 5mm auto 15mm 10mm;
    border-bottom: 1pt solid #e8e6e1;
  }

  .header__reference-number h5 {
    margin-bottom: 6pt;
  }

  .container {
    margin: auto 20mm;
  }

  .container table {
    width: 100%;
    border-collapse: collapse;
  }

  .container thead, th {
    font-size: 10pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #e95525;
    border-bottom: 1pt solid #e95525;
    height: 10mm;
  }

  .container thead {
    padding-bottom: 15pt;
  }

  .container tbody, td {
    border: 1pt solid #f8f6f1;
    height: 10mm;
  }

  .container__cell_short {
    width: 11%;
    text-align: center;
  }

  .container__cell_long {
    padding-left: 15pt;
    text-align: left;
  }

  .container__comment {
    height: 30mm;
    border: 2pt solid #e8e6e1;
    font-size: 10pt;
    padding: 5pt;
    vertical-align: text-top;
    font-weight: 400;
    color: #a1a1a1
  }

  .container__comment h4 {
    margin: 0 auto;
    font-weight: inherit;
  }

  .container__totals {
    height: 10mm;
  }

  .container__totals h4 {
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .totals__unit {
    text-transform: none;
  }

  .icon {
    display: inline-block;
    background-size: cover;
    height: 6mm;
    width: 6mm;
  }

  .page-counter {
    text-align: right;
    vertical-align: bottom;
    font-size: 8pt;
    height: 5mm;
    padding-right: 20mm;
  }

  .footer {
    border-top: 1pt solid #e95525;
    background-color: #f7f7f7;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 35mm;
  }

  .page-break {
    page-break-after: always;
  }

  .footer div {
    text-align: center;
    margin: 0 auto;
    font-size: 10pt;
  }

  .footer h4 {
    color: #a1a1a1;
  }

  .footer__contact {
    font-weight: 700
  }

  .footer__contact h4 {
    margin-bottom: 0;
  }
}
