{% macro render(t) %}
<div class="modal fade" id="importFileModal" tabIndex="-1" role="dialog" aria-labelledby="importFileModelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title" id="importFileModelLabel">{{ t("importFileModal.title") }}</h4>
      </div>
      <div class="modal-body">
        <p>
          {{ t("importFileModal.message.line1") }}<br/>
          {{ t("importFileModal.message.line2") }}
        </p>
        <form method='POST' action='/items/import' enctype="multipart/form-data" class="form-horizontal" id="importFileForm">
          <div class="form-group">
            <label for="inputFile" class="col-xs-3 control-label">{{ t("importFileModal.filename") }}</label>
            <div class="col-xs-9">
              <input type="file" size="40" name="inputFile" id="inputFile" required/>
              <progress id="importFileProgress" value="0" max="1" hidden></progress>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p class="pull-left">* – {{ t("importFileModal.requiredFields") }}.</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ t("importFileModal.cancelButton") }}</button>
        <button id="importFileFormSubmitButton" class="btn btn-primary">{{ t("importFileModal.submitButton") }}</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
