{% extends "layout.html" %}
{% import "importFileModal.html" as importFileModal %}

{% block styles %}
<link href="/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<input type="hidden" id="locale" value="{{ locale }}"/>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Movinga" height="40px" src="/img/movinga-small-logo.svg">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aira-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/en/"><span class="flag-icon flag-icon-gb"></span></a>
        </li>
        <li>
          <a href="/de/"><span class="flag-icon flag-icon-de"></span></a>
        </li>
        <li>
          <a href="/fr/"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
        <li>
          <a href="/it/"><span class="flag-icon flag-icon-it"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a href="/items/export/all-items.tsv">{{ t("nav.exportAll") }}</a></li>
            <li><a href="/items/export/new-items.tsv">{{ t("nav.exportNew") }}</a></li>
            <li><a href="#" data-toggle="modal" data-target="#importFileModal">{{ t("nav.import") }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/{{ locale }}/logout" onclick="return confirmChange(this)">{{ t("nav.logout") }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container offset">
  <!-- chakra magic - hidden input for locale -->
  <form class="form-signin"  action="/{{ locale }}" method="GET">
    <h4 class="form-signin-header">{{ t("index.message") }}</h4>
    <small>{{ t("index.note") }}</small>
    <input type="text" name="oppId" class="form-control" placeholder="0123456" required />
    <input type="text" name="hash" class="form-control" placeholder="f5c3c97a64c6f11142b11bcfa299e6e59" required />
    <br />
    <input type="submit" value="{{ t("index.submitButton") }}" class="btn btn-default btn-block" />
  </form>
</div>
{{ importFileModal.render(t) }}
{% endblock %}

{% block scripts %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
{% endblock %}
