{% extends "layout.html" %}
{% import "importFileModal.html" as importFileModal %}

{% block styles %}
<link href="/css/index.css" rel="stylesheet">
<link href="/css/typeahead.css" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Movinga" height="40px" src="/img/movinga-small-logo.svg">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse" aira-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/en?oppId={{ oppId }}&hash={{ hash }}" onclick="return confirmChange(this)"><span class="flag-icon flag-icon-gb"></span></a>
        </li>
        <li>
          <a href="/de?oppId={{ oppId }}&hash={{ hash }}" onclick="return confirmChange(this)"><span class="flag-icon flag-icon-de"></span></a>
        </li>
        <li>
          <a href="/fr?oppId={{ oppId }}&hash={{ hash }}" onclick="return confirmChange(this)"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
        <li>
          <a href="/it?oppId={{ oppId }}&hash={{ hash }}" onclick="return confirmChange(this)"><span class="flag-icon flag-icon-it"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a href="/items/export/all-items.tsv">{{ t("nav.exportAll") }}</a></li>
            <li><a href="/items/export/new-items.tsv">{{ t("nav.exportNew") }}</a></li>
            <li><a href="#" data-toggle="modal" data-target="#importFileModal">{{ t("nav.import") }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/{{ locale }}/logout" onclick="return confirmChange(this)">{{ t("nav.logout") }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container offset">
  <!-- chakra magic - hidden input for locale -->
  <input type="hidden" id="locale" value="{{ locale }}"/>
  <input type="hidden" id="oppId" value="{{ oppId }}"/>
  <input type="hidden" id="hash" value="{{ hash }}" />
  <div id="content"></div>
</div>
{{ importFileModal.render(t) }}
{% endblock %}

{% block scripts %}
<script src="/js/bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js"></script>
<script type="text/javascript" src="/js/FileSaver.min.js"></script>
<script src="/js/index.js"></script>
{% endblock %}
