<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header %}
    <title>Logistics Helper</title>
    {% endblock %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/flag-icon.min.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
