{% extends "layout.html" %}

{% block header %}
<title>Sign in</title>
{% endblock %}

{% block styles %}
<link href="/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- chakra magic - hidden input for locale -->
<input type="hidden" id="locale" value="{{ locale }}">
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <img src="/img/movinga-primary-logo.png" class="img-responsive img-rounded" alt="Movinga"/>
    </div>
  </div>
  <form class="form-signin" action="/{{ locale }}/login" method="post">
    {% if flash.length > 0 %}
    <div class="alert alert-danger">
      {{ flash }}
    </div>
    {% endif %}
    <h4 class="form-signin-heading">{{ t("login.message") }}</h4>
    <input type="text" name="username" class="form-control" placeholder="{{ t("login.usernamePlaceholder") }}" required />
    <input type="password" name="password" class="form-control" placeholder="{{ t("login.passwordPlaceholder") }}" required />
    <input type="hidden" name="oppId" value="{{ oppId }}" />
    <input type="hidden" name="hash" value="{{ hash }}" />
    <p>
      {{ t("login.forgotPassword") }} <a href="mailto:{{ t("login.contactEmail") }}">{{ t("login.contactName") }}</a>.
    </p>
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ t("login.signInButton") }}</button>
  </form>
  <div class=row>
    <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
      <div class="row">
        <a href="/en/login">
          <div class="col-xs-3 flag-icon-background flag flag-icon-gb"></div>
        </a>
        <a href="/de/login">
          <div class="col-xs-3 flag-icon-background flag flag-icon-de"></div>
        </a>
        <a href="/fr/login">
          <div class="col-xs-3 flag-icon-background flag flag-icon-fr"></div>
        </a>
        <a href="/it/login">
          <div class="col-xs-3 flag-icon-background flag flag-icon-it"></div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}
