<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <link href="/css/report.css" media="print" rel="stylesheet" />
    <title>Inventory #{{inventory.oppId}}</title>
  </head>
  <body>
    {% for page in inventory.items %}
      <div class="header">
        <div class="header__headline">
          <div class="left">
            <h1>{{t("reportPage.title")}}</h1>
          </div>
          <div class="right">
            <img src="/img/movinga_logo_tm-white.svg" />
          </div>
        </div>
        <div class="header__reference-number">
          <h5>{{t("reportPage.overview")}}:</h5>
          {{inventory.oppId}}
        </div>
      </div>
      <div class="container">
        <table>
          <thead>
            <tr>
              <th class="container__cell_short">{{t("reportPage.header.quantity")}}</th>
              <th class="container__cell_long">{{t("reportPage.header.name")}}</th>
              <th class="container__cell_short"><span class="icon"><img height="100%" width="100%" src="/img/icon-disassembly.png"</span></th>
              <th class="container__cell_short"><span class="icon"><img height="100%" width="100%" src="/img/icon-reassembly.png"</span></th>
            </tr>
          </thead>
          <tbody>
            {% for invItem in page %}
              <tr>
                <td class="container__cell_short">{{invItem.quantity}}</td>
                <td class="container__cell_long">{{invItem.name}}</td>
                <td class="container__cell_short">{% if invItem.disassembly %}x{% endif %}</td>
                <td class="container__cell_short">{% if invItem.reassembly %}x{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
          {% if loop.last %}
            <tfoot>
              <tr>
                <td rowspan="3" colspan="4" class="container__comment">
                  <h4>{{t("reportPage.comment")}}:</h4>
                  {{inventory.comment}}
                </td>
              </tr>
            </tfoot>
          {% endif %}
        </table>
        {% if loop.last %}
        <div class="container__totals">
          <div class="left">
            <h4>{{t("reportPage.totalWeight")}}: {{inventory.totalWeight}}</h4> <h4 class="totals__unit">{{t("units.weight")}}</h4>
          </div>
          <div class="right">
            <h4>{{t("reportPage.totalVolume")}}: {{inventory.totalVolume}}</h4> <h4 class="totals__unit">{{t("units.volume")}}</h4>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="page-counter" id="page-{{loop.index}}">
        Page {{loop.index}} of {{loop.length}}
      </div>
      <div class="footer page-break">
        <br />
        <div class="footer__address">
          {{t("reportPage.footer.address.company")}} • {{t("reportPage.footer.address.street")}} • {{t("reportPage.footer.address.city")}}
        </div>
        <div class="footer__contact">
          <h4>{{t("reportPage.footer.questions")}}</h4>
          {{t("reportPage.footer.contacts.telephone")}} • {{t("reportPage.footer.contacts.email")}}
        </div>
      </div>
      <script>
        {% if loop.last %}
          var margin = 9 + 10.6 * (12 - {{page.length}});
        {% else %}
          var margin = 12 + 10.6 * (16 - {{page.length}});
        {% endif %}
        document.getElementById('page-{{loop.index}}').style['margin-top'] = margin + "mm";
      </script>
    {% endfor %}
  </body>
</html>
